body {
  font-family: lato, sans-serif;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.7);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: montserrat, sans-serif;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.8);
}

h1 {
  font-size: calc(1.8em + 1vw);
}

h2 {
  font-size: calc(1.3em + 1vw);
  color:rgba(0, 0, 0, 0.8);
}

p {
  line-height: 1.8em;
}

@media screen and (min-width: 800px) {
  p {
    font-size: 1.2em;
  }
}

@media screen and (min-width: 1200px) {
  p {
    font-size: 1.3em;
  }
}

figcaption {
  line-height: 1.3em;
  color: rgba(0, 0, 0, 0.4);
}
